{% extends "base1.html" %}

{% block title %}Home{% endblock %}

{% block content %}
        <h1>To do list</h1>
        
        <p>
            <a href="/todo/view_weekly">View weekly</a>
            &nbsp;&nbsp;&nbsp;
            <a href="/todo/view_monthly">View monthly</a>
        </p>
        
        {% if todoList.count > 0 %}
        
        <table border="1" width="100%">
            <tr>
                <th>Description</th>
                <th></th>
            </tr>
            {% for todo in todoList %}
                <tr>
                    <td>{{ todo.item }}</td>
                    {% if todo.archive == 0 %}
                        <td align="center">
                            <a href="/todo/tick_done/{{ todo.id }}">Done</a>
                            <a href="/todo/tick_cancel/{{ todo.id }}">Cancel</a>
                        </td>
                    {% elif todo.archive == 1 %}
                        <td align="center">Done</td>
                    {% elif todo.archive == 2 %}
                        <td align="center">Cancelled</td>
                    {% endif %}
                </tr>
            {% endfor %}
            
        </table>
        
        {% else %}
            <p>To do list is empty</p>
        {% endif %}
        
{% endblock %}