<html>
    <head></head>
    <body>
        Current date is {{ curr_date }}
        
        <h1>Current to do list</h1>
        
        <table border="1">
            
            {% for todo in todoList %}
                <tr>
                    <td>{{ todo.item }}</td>
                    <td>{{ todo.added_by }}</td>
                    <td>{{ todo.date_todo }}</td>
                    {% if todo.archive == 0 %}
                        <td>*</td>
                    {% elif todo.archive == 1 %}
                        <td>Done</td>
                    {% elif todo.archive == 2 %}
                        <td>Cancelled</td>
                    {% endif %}
                </tr>
            {% endfor %}
            
        </table>
    </body>
</html>